.navBar{
    /* position: sticky; */
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #111827;
    color: white;
    z-index: 100;
    width: 100%;
}

.navBar section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.navBar ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.navBar section button{
    width: 103px;
    height: 36px;
    border-radius: 10px;
    background-color: #2563EB;
    color: white;
    border: none;
}

.appHeader{
    background-image: url('./assets/house.avif');
    background-position:center;
    height: 100vh;
}
